
<div class="row">

    <!-- list of companies -->
  <div class="col-sm-3">
    <div class="company-selector-panel">
      <div class="listframe">

        <div class="add-company-frame">
          <input type="text" ng-model="name" placeholder="company name" />
          <button ng-click="addCompany(name); name=''">Add</button>
          <div class="clearfix"></div><!-- clears floats -->
        </div>

        <ul ng-repeat="company in companies">
          <li>
            <div class="list-element" ng-click="select(company)"
                 ng-selected="selection.name === company.name">
              <span class="glyphicon glyphicon-ok"
                 ng-show="company.applied" title="Applied"></span>
              {{company.name}}
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
    
    <!-- COLUMN VIEW OF ONE COMPANY -->
    <div class="col-sm-9">
        <div ui-view="companyView"></div>
    </div>

</div> 



