<form ng-submit="addCompany(name)">
  <input type="text" placeholder="Company name"ng-model="name"></input>
  <button type="submit">Add</button>
</form>
<br>
<ul ng-repeat="company in companies">
    <button ng-click="getCompany(company.name)">{{company.name}}</button>
	<span class="glyphicon glyphicon-ok" ng-click="appliedToCompany(company)" style="color:green"></span>
    <span class="glyphicon glyphicon-pencil" ng-click="editCompany(company._id)"></span>
    <span class="glyphicon glyphicon-trash" ng-click="deleteCompany(company._id)"></span>
</ul>