<section>
  <h3 class="company-name">interview stage: {{companyName}}</h3>
  <uib-progress class="stage-bar">
    <uib-bar ng-repeat="bar in status" type="{{bar.type}}" value="20" box-shadow="0 0 5px 5px black"> 
	  <span>{{bar.value}}</span>
	</uib-bar>
  </uib-progress>
</section>

<section>
  <!-- calendar strip goes here -->
</section>

<section class="taskpanel">

  <div class="taskbar">
  
	<div class="buttonframe">
	  <a ui-sref=".resume">
	    <div class="taskbutton">
	      (resume)
	    </div>
	  </a>
	</div>

    <div class="buttonframe">
	  <a ui-sref=".cover-letter">
	    <div class="taskbutton">
	      (cover letter)
	    </div>
	  </a>
	</div>

	<div class="buttonframe">
	  <a ui-sref=".research">
	    <div class="taskbutton">
	      (research)
	    </div>
	  </a>
	</div>

	<div class="buttonframe">
	  <a ui-sref=".contacts">
	    <div class="taskbutton">
	      (contacts)
	    </div>
	  </a>
	</div>

  </div>

    <iframe ng-src="{{calendar}}" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

  <div ui-view class="task-edit-area">
  </div>

</section>




