
<div class="row">

    <!-- NAVIGATION BAR--> 
    <div class="navbar">
      <ul class="nav nav-tabs">      
        <li role="presentation" class="active"><a href='' ng-click="loadCompanyLog()">Company Log</a></li>
        <li role="presentation"><a href='' ng-click="loadCalendar()">Calendar</a></li>
      </ul>
    </div>

    <!-- COLUMN LIST OF COMPANIES -->
    <div class="col-sm-3">
        <div ui-view="companyList"></div>
    </div>
    
    <!-- COLUMN VIEW OF ONE COMPANY -->
    <div class="col-sm-9 one-co">
        <div ui-view="companyView"></div>
    </div>

</div> 



