<section>
  <h3 class="company-name">interview stage: {{companyName}}</h3>
  <uib-progress class="stage-bar">
    <uib-bar ng-repeat="bar in status" type="{{bar.type}}" value="20" box-shadow="0 0 5px 5px black"> 
	  <span>{{bar.value}}</span>
	</uib-bar>
  </uib-progress>
</section>


<section class="taskpanel">

  <div class="taskbar">
  	<a ui-sref=".resume" class="buttonframe">
	  <div class="taskbutton">
	    <i class="fa fa-file-o"></i>
	    <div class="caption">Resume</div>
	  </div>
	</a>

	<a ui-sref=".cover-letter" class="buttonframe">
	  <div class="taskbutton">
	    <i class="fa fa-file-text-o"></i>
	    <div class="caption">Cover Letter</div>
	  </div>
	</a>

	<a ui-sref=".research" class="buttonframe">
	  <div class="taskbutton">
	    <i class="fa fa-book"></i>
	    <div class="caption">Research</div>
	  </div>
	</a>

	<a ui-sref=".contacts" class="buttonframe">
	  <div class="taskbutton">
	    <i class="fa fa-user-plus"></i>
	    <div class="caption">Contacts</div>
	  </div>
	</a>

	<a ui-sref=".dates" class="buttonframe">
	  <div class="taskbutton">
		  <i class="fa fa-calendar-o"></i>
	  <div class="caption">Dates</div>
	  </div>
  	</a>

    <!-- Bootstrap utility to clear floats -->
	<div class="clearfix"></div>

  </div>

  <div ui-view class="task-edit-area">
  </div>
  
</section>