  
<div class="login-background">
  <div class="loginWrapper">

    <div class="container">
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>
      <form class="form-signin" ng-submit="login()">
        <h3>Log In</h3>
        <input type="text" class="form-control" placeholder="Username" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>

  </div>
</div>