
<form>
<label>Applied</label>
	<input type="checkbox"
       ng-checked="applied"> 
   <button ng-click="applied()">Add</button>
</form>
<form>
<label for="exampleInput">Phone Interview:</label>
   <input type="datetime-local" ng-model="phoneDate"
       placeholder="MM-dd"/>
    <button ng-click="setPhoneDate(phoneDate)">Add</button><span class="glyphicon glyphicon-ok" ng-show="phoneDate" style="color:green" title="Applied"></span>
</form>
<form>
   <label for="exampleInput">Onsite Interview:</label>
   <input type="datetime-local" ng-model="onsiteDate"
       placeholder="MM-dd"/>
    <button ng-click="setOnsiteDate(onsiteDate)">Add</button><span class="glyphicon glyphicon-ok" ng-show="onsiteDate" style="color:green" title="Applied"></span>
</form>
</form>

