<form>
<label for="exampleInput">Phone Interview:</label>
   <input type="datetime-local" ng-model="phoneDate"
       placeholder="MM-dd"/>
    <button ng-click="setPhoneDate(phoneDate)">Set Date</button><span class="glyphicon glyphicon-ok" ng-show="phoneDate" style="color:green" title="Applied"></span>
</form>
<form>
   <label for="exampleInput">Onsite Interview:</label>
   <input type="datetime-local" ng-model="onsiteDate"
       placeholder="MM-dd"/>
    <button ng-click="setOnsiteDate(onsiteDate)" type="button">Set Date</button><span class="glyphicon glyphicon-ok" ng-show="onsiteDate" style="color:green" title="Applied"></span>
</form>
</form>