<header>
  <div class="title" ng-controller="ContactsController">Contacts...
    <form class="contacts">
      <input type="text" placeholder="name" ng-model="contacts.name"> </input>
      <!-- <input type="text" placeholder="company"></input> -->
      <input type="text" placeholder="email" ng-model="contacts.email"></input>
      <input type="text" placeholder="phone number" ng-model="contacts.phoneNumber"></input>
      <input type="text" placeholder="social media" ng-model="contacts.socialMedia"></input>
      <select name="title" list="job title" ng-model="contacts.title">
        <option value="technicalRecruiter">Technical Recruiter</option>
        <option value="Recruiter">Recruiter</option>
        <option value="CTO">CTO</option>
        <option value="Developer">Developer</option>
      </select>
      <button class="submit contact" ng-click="createContact(contacts, company)">Add to contacts</button>
    </form>
    <div class="contact-list">
      <span ng-repeat="contact in contactsArray">{{ contact }}<br /></span>
  </div>
  </div>
</header>

