<header>
  <div class="container">
    <div class="title">Company Research</div>
  
  <!-- Input should add research items to the userFiles research array -->
  <!-- research items should show in list format -->
    <input class="research-items" ng-model="item" placeholder="Enter a URL">
    <button class="btn btn-default" ng-click="submitResearch(item)">Submit</button>
    
    <div class="research-list">
      <span ng-repeat="item in userFiles.research">{{ item }}<br /></span>
    </div>

</header>
