/********************************
  Shared Elements (in all views)
*********************************/

html {
  font-family: sans-serif;
}

.menu-bar {
  padding: 10px 32px 10px 20px;
  background-color: rgba(0,0,255,0.6);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

.branding {
  font-size: 18px;
  font-weight: bold;
}

.log-in-out {
  float: right;
  margin-top: 4px; /* temp. vert. center hack */
}

.log-in-out a {
  color: rgba(255,255,255,0.9);
}

.log-in-out a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.log-in-out a:focus {
  text-decoration: none;
}

.login {
}

.logout {
  display: none;
}


/********************************
     Landing Page Elements
*********************************/

.image-area {
  background-image: url("../images/splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%; /* image-specific focal point */
  height: 400px;
}

/*
.primary-header-row {
  margin-left: 0;
  margin-right: 0;
}

.title-block-column {
}

.description-column {
  padding-right: 0;
  padding-left: 0;
}

.sub-title {
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1.25px;
}

.btn {
  margin-top: 80px;
  color: indigo;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.25px;
  padding: 10px 50px;
}

.description {
  margin-top: 40px;
  width: 200px;
  font-size: 14px;
  text-align: center;
  border: 1px solid white;
  border-radius: 6px;
  padding: 12px;
}

.description .where-you-stand {
  color: white;
}

.description > ul {
  text-align: left;
  padding: 0 0 0 20px;
  margin: 10px 0;
  color: white;
}

.promo-band {
  min-height: 360px;
  margin: 42px 0;
  padding: 12px;
}

.video-frame {
  background-color: black;
  border-radius: 5px;
  width: 380px;
  height: 280px;
  padding: 22px 10px;
}

.demo {
  background-color: lightblue;
}

.subject2 {
  background-color: lightgreen;
}

.subject3 {
  background-color: lightblue;
}

.subject4 {
  background-color: lightgreen;
}
*/

/********************************
  Some Other Page Elements...
*********************************/