html {
  font-family: sans-serif;
}

.log-in-out {
  float: right;
  margin-right: 32px;
  margin-top: 20px;
  color: rgba(255,255,255,0.6);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1.25px;
}

.login {
}

.logout {
  display: none;
}

header {
  background-color: blue;
  color: rgba(255,255,255,0.6);
  height: 400px;
  padding: 42px 20px;
}

header.narrow-header {
  height: auto;
  padding: 12px;
}

.title-block {
  text-align: center;
}

.main-title {
  color: lightblue;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 1.25px;
}

.narrow-header .main-title {
  font-size: 24px;
}

.sub-title {
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1.25px;
}

.btn {
  margin-top: 80px;
  color: indigo;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.25px;
  padding: 10px 50px;
}

.description {
  position: fixed;
  width: 300px;
  top: 40px;
  right: 48px;
  background-color: rgba(0,0,0,0.5);
  font-size: 20px;
  border-radius: 6px;
  padding: 16px;
}

.promo-band {
  min-height: 360px;
  margin: 42px 0;
  padding: 12px;
}

.video-frame {
  background-color: black;
  border-radius: 5px;
  width: 380px;
  height: 280px;
  padding: 22px 10px;
}

.demo {
  background-color: lightblue;
}

.subject2 {
  background-color: lightgreen;
}

.subject3 {
  background-color: lightblue;
}

.subject4 {
  background-color: lightgreen;
}

