/********************************
      Top-Level Elements
*********************************/

html {
  font-family: sans-serif;
}

body {
  /* prevents horiz scrollbar when using vh for full-screen image */
  overflow-x: hidden;
}


/********************************
           Menu Bar
*********************************/

.menu-bar {
  height: 10vh;
  line-height: 10vh; /* vert. center text hack */
  padding-left: 3vw;
  padding-right: 4vw;
  background-color: #799dbb;
  color: rgba(255,255,255,0.75);
  text-transform: uppercase;
}

.branding {
  font-size: 4vh;
  font-weight: bold;
  letter-spacing: 0.6vw;
  cursor: pointer;
}

.branding:hover {
  color: white;
}

.log-in-out {
  float: right;
  font-size: 3vh;
  letter-spacing: 0.25vw;
}

.log-in-out a {
  color: rgba(255,255,255,0.9);
}

.log-in-out a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.log-in-out a:focus {
  text-decoration: none;
}

.login {
}

.logout {
  display: none;
}


/********************************
        Splash Screen
*********************************/

.image-area {
  background-image: url("../images/splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%; /* offset, for image-specific focal point */
  height: 90vh; /* combined with menu = 100% screen height */
}

 /* for layout testing... */
.debug-col-left {
  /*background-color: red;*/
}
.debug-col-right {
  /*background-color: green;*/
}

.tagline {
  color: #3c4e5d;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.25px;
  width: 300px; /* req'd, to horiz. center */
  margin: 60px auto 0 auto;
}

.tagline .line2 {
  margin-left: 32px;
}

.image-area .btn {
  margin: 250px 60px 0 0;
  float: right;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.25px;
  padding-left: 32px;
  padding-right: 32px;
}

.description {
  color: #3c4e5d;
  margin: 32px auto 0 auto;
  width: 200px;
  font-size: 14px;
  text-align: center;
  border: 1px solid;
  border-radius: 6px;
  padding: 12px;
}

.description > ul {
  text-align: left;
  padding: 0 0 0 20px;
  margin: 10px 0;
}


/********************************
    Other Home Page Elements
*********************************/

.promo-strip {
  min-height: 360px;
  margin-top: 60px;
  padding: 0 24px;
}

.promo-block {
  min-height: 360px;
  padding: 16px;
}

.promo-block.visual {
  background-color: #6891b2;
  color: white;
  border-radius: 5px;
}

.promo-block.other {
  color: #000000;
}

.video-frame {
  background-color: black;
  border-radius: 5px;
  padding: 12px 6px;
}

iframe {
  width: 100%;
  min-height: 230px;
}


/********************************
      Company List View
*********************************/

.company-selector-panel {
  position: relative;
  min-height: 90vh;
  border-right: 1px solid gray;
}

/* fill the region */
.company-selector-panel .listframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
}

.add-company-frame {
  color: indigo;
  margin: 12px;
  padding: 2px;
  border: 1px solid rgba(100,100,255,0.4);
  border-radius: 3px;
}

.add-company-frame input[type="text"] {
  width: 80%;
  float: left;
  text-align: center;
  padding:2px;
  border-width:0;
}

.add-company-frame button {
  background-color: rgba(100,100,255,0.4);
  color: white;
  width: 18%;
  float: left;
  padding:2px;
  margin-left: 2px;
  border-width:0;
  border-radius: 3px;
}

.add-company-frame button:hover {
  background-color: rgba(100,100,255,0.8);
}

.add-company-frame button[disabled] {
  background-color: transparent;
  color: gray;
}

/* remove default <ul> list styles */
.company-selector-panel ul {
  padding: 0 20px 5px 20px;
  margin: 0;
  list-style: none;
}

.company-selector-panel li {
  position: relative;
  margin-top: 6px;
}

.add-prompt {
  color: rgba(100,100,255,0.6);
  max-width: 60%;
  margin: 25% auto;
}

.list-element {
  display: block;
  background-color: #c9d7e3;
  color: #303e4a;
  text-align: center;
  padding: 5px 0;
  border-radius: 2px;
  cursor: default;
}

.list-element .glyphicon {
  position: absolute;
  top: 30%;
  right: -2%;
  color: yellowgreen;
}

.list-element:hover {
  background-color: #799dbb;
  color: white;
}

.list-element[selected] {
  background-color: #546d82;
  color: white;
}


/********************************
      Company Details View
*********************************/

.company-details-header {
  padding: 20px 0;
  text-align: center;
}

.company-details-header .company-name {
  margin-right: 14px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.company-details-header .btn {
  position: relative;
  top: -2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.company-details-header .glyphicon {
  font-size: 16px;
  padding: 6px 6px 4px 4px;
  color: white;
  margin-left: 14px;
  cursor: default;
  background-color: rgba(100,100,255,0.4);
  border-radius: 50%;
}

.company-details-header .glyphicon:hover {
  background-color: rgba(100,100,255,0.8);
}

.company-details-header.company-undefined .company-name {
  text-transform: none;
  color: rgba(100,100,255,0.6);
  font-weight: normal;
}

.company-details-header.company-undefined .glyphicon,
.company-details-header.company-undefined .btn {
  display: none;
}

.stages-bar {
  height: 40px;
  border: 1px solid gray;
  border-radius: 3px;
  margin-top: 16px;
}

.interview-stage {
  float: left;
  width: 20%;
  height: 100%;
  padding-top: 10px;
  padding-left: 12px;
  text-align: left;
  background-color: lightblue;
}

.interview-stage.completed {
  background-color: lightgreen;
}


/********************************
      Task Panel Area
*********************************/

.taskpanel {
  border: 1px solid gray;
  border-radius: 3px;
}

.taskbar {
  background-color: lightgray;
}

.buttonframe {
  padding: 5px;
  float: left;
}

.buttonframe:hover {
  background-color: rgba(0,0,255,0.4);
  text-decoration: none;
}

.buttonframe[selected] {
  background-color: rgba(0,0,255,0.6);
  text-decoration: none;
}

.taskbutton {
  background-color: rgba(255,255,255, 0.65);
  color: rgba(0,0,255,0.5);
  width: 100px;
  height: 100px;
  border-radius: 5px;
  text-align: center;
  font-size: 48px;
}

.taskbutton .caption {
  color: rgba(0,0,255,0.6);
  font-size: 14px;
  transform: translate( 0%,10%);
}

.task-edit-area {
  position: relative;
}

.task-edit-area header {
  text-align: center;
  font-size: 18px;
}

.task-edit-area header > .title {
  margin-top: 20px;
  text-transform: uppercase;
  min-height: 800px;
}

.taskdoc-link {
  position: absolute;
  top: 0;
  right: 10%;
  text-decoration: underline;
}

.taskdoc-container {
  position: absolute;
  overflow-x: scroll;
  top: 40px;
  width: 100%;
}

.task-edit-area {
  height: 1000px;
  width: 100%;
  padding: 16px;
}

.task-edit-area iframe {
  height: 1000px;
  width: 100%;
  padding: 0px;
}
/********************************
      Date Area
*********************************/
.date-button {
  background-color: rgba(100,100,255,0.4);
  color: indigo;
  border: 1px solid;
  border-radius: 3px;
}

.date-button:hover {
  background-color: rgba(100,100,255,0.6);
  color: white;
}

.date-button[disabled] {
  background-color: transparent;
  color: gray;
}

/********************************
      Date Area
*********************************/
.date-button {
  background-color: rgba(100,100,255,0.4);
  color: indigo;
  border: 1px solid;
  border-radius: 3px;
}

.date-button:hover {
  background-color: rgba(100,100,255,0.6);
  color: white;
}

.date-button[disabled] {
  background-color: transparent;
  color: gray;
}

/*************************************
*************************************/


.loginReg-background {
  background: url("../images/loginBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%; /* offset, for image-specific focal point */
  height: 90vh; /* combined with menu = 100% screen height */
}

.loginRegBox {
  width: 320px;
  padding: 20px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  top: 18%;
  position: relative;
}

.loginRegBox input {
  padding: 11px;
  font-size: 14px;
  display: block;
  margin: 7px auto;
  border: 1px solid #7D7D7D;
  border-radius: 4px;
  width: 250px;
}


.loginError {
    border: 1px solid #FFA1A1;
    background-color: rgba(255, 184, 184, 0.8);
    color: #2D2D2D;
    padding: 5px;
    text-align: center;
    font-family: Arial;
    box-shadow: 0px 0px 15px 3px #FF2828;
    border-radius: 2px;
}
 
.regAndLog {
  text-decoration-color: white;
  width: 250px;
  height: 35px;
  background-color: #428BCA;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fontColor {
  color: white;
  font-family: Arial;
}

.memberRegAndLog {
  color: #000000;
  font-family: Arial;
  font-weight: bold;
}
